* {
    color: #193f0f;
}

.footer {
    background-image: url(https://cdn.shopify.com/s/files/1/1258/6665/files/ft_bg.png?v=1636552563);
    background-position: center top;
    padding-top: 5rem;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 5em;
}

.footer ul {
    list-style: none;

}

.footer-menu a {
    text-decoration: none;
}

.footer ul li {
    padding: 0.5rem 0;
}

.footer-menu svg {
    font-size: 1.25em;
}

.footer-container {
    display: flex;
    flex-direction: row;
    padding: 1rem 3rem;
}

.footer-nav {
    width: 70%;
    display: flex;
    flex-direction: row;
}

.footer-col {
    width: 33%;
}

.footer-menu {
    padding: 0;
}

.footer-social {
    width: 30%;
}

.footer-social .footer-menu {
    display: flex;
    flex-direction: row;

}

.footer-social .footer-menu li {
    padding: 0 1rem 0 0;
    font-size: 2rem;

}

@media only screen and (max-width: 915px) {

    .footer-container,
    .footer-nav {
        flex-direction: column;

    }

    .footer-nav,
    .footer-col {
        width: 100%;
    }

    .footer {
        position: relative;
    }

    .footer-container {
        padding: 1rem;
    }
}