* {
    color: hsl(108, 73%, 55%);
}

.navbar-container {
    display: flex;
    background: #c3eeba;

    font-size: x-large;
}

.navbar {
    width: 80%;
}

.logo {
    display: inline;
    margin-left: 5em;
    margin-top: 1em;
    width: 20%;
}

.logo a {
    text-decoration: none;
}

.navbar ul {
    list-style: none;
    display: flex;
    ;
}

.navbar li {
    display: inline;
    font-weight: bold;
    padding: 0 2rem;
}

.navbar li a {
    text-decoration: none
}

.navbar li a.active {
    color: rgb(59, 150, 59);
}

.navbar-container .mobilenav {
    display: none;
}

.navbar-container.mobile .navbar .hide-menu {
    display: none;

}

.navbar-container.mobile .mobilenav {
    display: block;
    margin-top: 2rem;
    margin-right: 1rem;
}

@media only screen and (max-width: 915px) {
    .logo {
        margin-left: 1em;
    }

    .navbar ul {
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    .navbar li {
        padding: 0 0.5rem;
    }

    .navbar {
        text-align: right;
    }

    .show-menu a,
    .show-menu a.active {
        font-size: large;
    }
}