.section-container{
    padding:2em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

.section-container .intro{
    padding:2em;
    line-height: 2em;
}

.section-container li {
    padding: 0.5em 0;
    list-style: none;
}

.projects-main{
    display: flex;
}


.heading_section .section_title{
    text-transform: uppercase;
    text-align: center;
    margin-top:2em;
}

.home .slick-slider{
    display: flex;
}
.home .slick-list{
    margin:0 2em;
}
.slick-slider .arrow{
    background-color: #fff;
    border: none;
   
}

.slick-slider .arrow svg{
    width: 2em;
    height: 2em;
}

.slick-slide>div {
   border:5px solid #193f0f;
    margin:1em;
    height:400px;
   
}
div.slick-slide{
    padding:0;
}
.slick-slide>div h3 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 0em;
    background: #193f0f;
    color: white;
    padding: 1em;
}

.slick-slide .project-desc{
    padding: 1em 2em;
    line-height: 2em;
}


div.slide-right {
  width:100%;
  overflow:hidden;
  
}
div.slide-right p {
    animation-name: slide-right;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}



@keyframes slide-right {
  from {
    margin-left: -100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
    background-color: rgba(115, 255, 0, 0.135);
    color:#193f0f;
    padding:0.5em;
  }
}
div.contact-container{
    padding:3em 0em 0em 5em;
}
div.contact-container h1{
    padding-left: 0.5em;
    
}
div.MuiFormControl-root.MuiTextField-root{
    display: block;
}
.contact-container div.MuiTextField-root, p.MuiFormHelperText-root{
    width: 50ch;
   
}
p.MuiFormHelperText-root{
    margin-bottom:2em;
}

.contact-container button{
   
    padding: 1em;
    background-color:#c3eeba;
    color:#193f0f;
    font-weight: 600;
    margin-left:0.5em;
}
.contact-container button:hover{
  
    background-color:#193f0f;
    color:#fff;
}
div.MuiInputBase-root{
    width:50ch;
}
button.MuiButtonBase-root{
    width:57ch;
    margin-left:0.5em;
}
div.MuiInputBase-root{
    margin-bottom:1em;
}
div.error{
    margin-top: -1em;
    margin-left: 1em;
    margin-bottom: 1em;
    color: red;
}
div.success{
    background: rgba(115, 255, 0, 0.135);
    padding: 1em;
    width: 50ch;
    margin-left: 1em;
}

/*Styles for TechStack page*/
.tech-container{
    display: grid;
    
    grid-template-columns: 50% 50%;
    padding:0 5em;
}
.tech-stack-heading{
    text-align: center;
    margin:1em;
    
}
div.sub-stack-container{
    display: grid;
    gap:0.25em;
    padding:1em;
    grid-template-areas: 'main main main main main main main main';
    
}
.tech-container.certifications{
    display: block;
}

.tech-container.certifications .sub-stack-container{
    display: flex;
    flex-direction: column;
}
div.sub-stack-main{
    grid-area:main;
    text-align: left;
    font-weight: 800;
    text-transform:UPPERCASE;
    font-size: larger;
    padding:0.5em;
    margin-top:1em;
    border-radius: 5px;
}
div.sub-stack-main, div.stack-name{
   
   text-align: center;
}
div.stack-name{
    padding:1em;
    background-color: rgba(115, 255, 0, 0.135);
    color: #000;
}
div.sub-stack-main{
    color: #fff;
    background-color: #193f0f;
    background-image: linear-gradient(to right, #193f0f, #c3eeba);
}


@media only screen and (max-width: 915px) {
    div.contact-container{
        padding:0em;
    }
    div.MuiInputBase-root{
        width:90%;
    }
    button.MuiButtonBase-root{
        width:90%;
        margin-left:1.25em;
    }
    .slick-slide>div{
       height: auto;
        border:none;
    }
    .home .slick-list{
        margin:0;
    }
    .slick-slider.slick-initialized {
        display:grid;
        grid-template-areas:
        'leftarrow rightarrow'
        'main main';
    }
    .slick-slider .slick-list{
        
         grid-area:main;
    }
    .slick-slider .prevArrow.arrow{
        
        grid-area:leftarrow;
    }
    
    .slick-slider .nextArrow.arrow{
        
        grid-area:rightarrow;
    }
    .section-container{
        padding:0;
    }
   .tech-container{
    display: flex;
    flex-direction: column;
   }
   
   
}

