.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
  
}

.registeration-form-container, .registeration-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: lightblue;
  width: 100%;
}

.registeration-form-container h2{
  margin-bottom:2em;
  font-size: 30px;
}

.registeration-form input, .registeration-form button{
  padding:1em;
  margin:1em;
  width: 20em;
  font-size: 16px;
  height: auto;
  box-sizing: content-box;
  border: none;
}

.registeration-form input{
  color:#000;
}

.registeration-form button{
  background-color: lightgreen;
  font-weight: 600;
}

div.success{
  background: lightgreen;
  padding: 1em;
}

div.error{
  color:red;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
